@charset "ISO-8859-1";






#contain{
	width: 100%;
}


#slider, #slider1, #slider2, #slider3, #slider4, #slider5, #slider6, #slider7, #slider8, #slider9, #slider10, #slider11,  #slider12 {
	overflow: hidden;
}
#slider figure,#slider1 figure , #slider2 figure, #slider3 figure, #slider4 figure, #slider5 figure, #slider6 figure,
#slider7 figure, #slider8 figure, #slider9 figure, #slider10 figure, #slider11 figure, #slider12 figure{
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation: 10s slider infinite;
}
#slider1 figure {
	animation: 15s slider infinite;
}
#slider2 figure {
	animation: 14s slider infinite;
}
#slider3 figure {
	animation: 13s slider infinite;
}
#slider4 figure {
	animation: 12s slider infinite;
}
#slider5 figure {
	animation: 16s slider infinite;
}
#slider6 figure {
	animation: 17s slider infinite;
}
#slider7 figure {
	animation: 15s slider infinite;
}
#slider8 figure {
	animation: 15s slider infinite;
}
#slider9 figure {
	animation: 15s slider infinite;
}
#slider10 figure {
	animation: 15s slider infinite;
}
#slider11 figure {
	animation: 15s slider infinite;
}
#slider12 figure {
	animation: 15s slider infinite;
}

#slider figure img, #slider1 figure img, #slider2 figure img, #slider3 figure img, #slider4 figure img,
#slider5 figure img, #slider6 figure img, #slider7 figure img, #slider8 figure img, #slider9 figure img,
#slider10 figure img, #slider11 figure img, #slider12 figure img{
	float: left;
	height: 200px;
	width: 20%;
}




@keyframes slider {
	0% {
		left: 0;
	}
	20% {
		left: 0;
	}
	25% {
		left: -100%;
	}
	45% {
		left: -100%;
	}
	50% {
		left: -200%;
	}
	70% {
		left: -200%;
	}
	75% {
		left: -300%;
	}
	95% {
		left: -300%;
	}
	100% {
		left: -400%;
	}
}

















.productphoto {
	height: 250px;
}

.padding-right {
	padding-right: 0;
}

.features_items {
	overflow: hidden;
}

h2.title, h5.title {
	color: #FE980F;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 500;
	margin: 0 15px;
	text-transform: uppercase;
	margin-bottom: 30px;
	position: relative;
}

h5, h6 {
	color: #FE980F;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 500;
	margin: 0 15px;
	text-transform: uppercase;
	margin-bottom: 20px;
	margin-top: 10px;
	position: relative;
}

.product-image-wrapper {
	border: 1px solid #F7F7F5;
	overflow: hidden;
	margin-bottom: 30px;
	border-top-left-radius: 0.85rem;
	border-bottom-left-radius: 0.85rem;
	border-top-right-radius: 0.85rem;
	border-bottom-right-radius: 0.85rem;
}

.single-products {
	position: relative;
}

.new, .sale {
	position: absolute;
	top: 0;
	right: 0;
}

.productinfo h2 {
	color: #FE980F;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	font-weight: 700;
}

.product-overlay h2 {
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	font-weight: 700;
}

.productinfo p {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #696763;
}

.productinfo img {
	width: 100%;
}

.productinfo {
	position: relative;
}

.product-overlay {
	background: #FE980F;
	top: 0;
	display: none;
	height: 0;
	position: absolute;
	transition: height 500ms ease 0s;
	width: 100%;
	display: block;
}

.single-products:hover .product-overlay {
	display: block;
	height: 100%;
}

.product-overlay .overlay-content {
	bottom: 0;
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
}

.product-overlay .add-to-cart {
	background: #fff;
	border: 0 none;
	border-radius: 0;
	color: #FE980F;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	margin-bottom: 25px;
}

.product-overlay .add-to-cart:hover {
	background: #fff;
	color: #FE980F;
}

.product-overlay p {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #fff;
}

.add-to-cart {
	background: #F5F5ED;
	border: 0 none;
	border-radius: 0;
	color: #696763;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	margin-bottom: 25px;
}

.add-to-cart:hover {
	background: #FE980F;
	border: 0 none;
	border-radius: 0;
	color: #FFFFFF;
}

.add-to {
	margin-bottom: 10px;
}

.add-to-cart i {
	margin-right: 5px;
}

.add-to-cart:hover {
	background: #FE980F;
	color: #FFFFFF;
}