<div id="Allcontain">

    <div id="piccontain">
        <div id="contain">
             <img  [src]="E:\Angular\GetBook\src\assets\photo\java1.jpg">
        </div>

    </div>




    <div id="info">
        <p id="heading"><b>Title</b>{{book.title}}</p>
        <p id="description"><b>Author:</b> {{book.author}}</p>
        <p id="description"><b>Price</b>{{book.price}}</p>
        <p id="description"><b>Upload Date</b>{{book.date}}</p>

        <!-- <p id="description"><b>Upload Date</b>{{user.date}}</p>
        <p id="description"><b>Upload Date</b>{{book.date}}</p> -->
    </div>
</div>